html {
  scroll-behavior: smooth;
}

/* Reset default margin and padding for the body */
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;;
  color: black;
  background-color: #fff;
}

/* Styling for intro paragraph */
#intro {
  margin: 0 auto;
  max-width: 550px;
  text-align: center;
  line-height: 1.5;
  padding: 0 20px;
}

/* General styling for headers */
h1, h2 {
  font-family: 'Roboto', sans-serif;
  color: #333; /* Dark text color for readability */
  margin: 20px 0; /* Margin for spacing */
  text-align: center; /* Center the text */
}

/* Specific styling for h1 */
h1 {
  color: black;
  font-size: 2.5rem; /* Larger font size for main headings */
  font-weight: 700; /* Bold font weight */
  letter-spacing: 1px; /* Slight letter spacing for readability */
}

/* Specific styling for h2 */
h2 {
  font-size: 2rem; /* Slightly smaller font size for subheadings */
  font-weight: 500; /* Medium font weight */
  letter-spacing: 0.5px; /* Slight letter spacing for readability */
  margin-bottom: 30px; /* Extra margin below the heading */
}

/* Style for the home section (banner) */
.banner {
  position: relative;
  height: 35vh;
  z-index: 2;
  background: radial-gradient(ellipse at bottom, #2123bb, #62b4f7);
  text-align: center;
  padding: 50px 20px;
  overflow: hidden;
}

.home-container {
  position: relative; /* Ensure the text container stays in place */
  z-index: 2;
}

/* Star Styling on banner */
.dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  width: 100px;
  background: linear-gradient(-45deg, #FFFEE8, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #fff);
  animation: tail 3s ease-in-out infinite,
             falling 3s ease-in-out;
}

@keyframes tail {
  0%{
    width: 0px;
  }
  30%{
    width: 100px;
  }
  100%{
    width: 0;
  }
}

@keyframes falling {
  0%{
    transform: translate(0, 0) rotate(45deg);
  }
  100%{
    transform: translate(400px, 200px) rotate(45deg);
  }
}

.star::before, .star::after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  width: 30px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #FFFEE8, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
  0%{
    width: 0px;
  }
  50%{
    width: 30px;
  }
  100%{
    width: 0;
  }
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

/* Style for the navigation menu */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 10px;
  list-style: none;
  border-radius: 20px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Ensure it's above other content */
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #333;
}

/* Style for links to github and linkedin pages */
.contact-details {
  margin-top: 50px;
}

.contact-details ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.contact-details li {
  margin: 0 10px;
}

.contact-details .icons {
  background: #CFE0FF;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.contact-details .icons:hover {
  background: #AFC6FF;
}

.contact-details i {
  font-size: 1.5rem;
  color: #333;
}

.contact-details a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for other sections */

/* Project section styles */
#projects {
  color: #333;
  text-align: center;
  padding: 50px;
}

#projects header {
  margin-bottom: 20px;
}

/* Carousel container styling */
.carousel {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 20px 20px 0; /* Add padding on the right for a partial card view */
  scroll-snap-type: x mandatory; /* Enable scroll snapping */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
}

.carousel-wrapper {
  display: inline-flex;
  gap: 20px; /* Space between cards */
  padding-right: 100px; /* Add extra padding to the right to hint at more content */
}

.card {
  width: 400px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  flex-shrink: 0;
  scroll-snap-align: start; /* Align cards to the start of the scroll */
  margin-right: 20px; /* Keep the spacing between cards */
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-description {
  white-space: normal;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.card-link {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #626262;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card-link:hover {
  background-color: #333;
}

.icons {
  margin-right: 8px; /* Space between the icon and text */
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tech-icons img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 5px 5px;
}

/* Skills section styles */
#skills {
  color: #333;
  text-align: center;
  padding: 50px;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-icons {
  margin: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.skill-icons img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 5px;
}

.skill-icons p {
  margin: 0;
}

.skill-icons:hover {
  transform: scale(1.2);
}

/* Education section styles */
#education {
  color: #333;
  text-align: center;
  padding: 50px;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  flex-direction: column;  /* Ensure content stacks vertically */
}

#education h2 {
  margin-bottom: 20px;
}

/* Education entry styles */
.education-entry {
  margin-top: 30px;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 30px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.education-entry img {
  max-width: 100px;
  border-radius: 0%;
  margin-right: 30px;
}

.education-entry .text-content {
  text-align: left; /* Left-align the text content */
}

.education-entry h3 {
  margin-bottom: 5px;
}

.education-entry p {
  margin: 5px 0;
}

/* Mode toggle button styling */
.mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.mode-toggle i {
  font-size: 1.5rem;
  color: #333;
}

.mode-toggle:hover {
  background-color: #AFC6FF;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Dark mode styles */
body.dark-mode {
  background-color: #000000;
  color: #ebebeb;
}

body.dark-mode h1, 
body.dark-mode h2 {
  color: #ebebeb;
}

body.dark-mode .navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

body.dark-mode .navbar a {
  color: #000;
}

body.dark-mode .navbar a:hover {
  color: #626262;
}

body.dark-mode .mode-toggle {
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.6); /* white shadow */
}

body.dark-mode .mode-toggle i {
  color: #fff;
}

body.dark-mode .mode-toggle:hover {
  background-color: #001d53;
  box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6);
}

body.dark-mode .banner {
  background: radial-gradient(ellipse at bottom, #00081b, #010256);
}

body.dark-mode .contact-details .icons {
  background: #001d53;
}

body.dark-mode .contact-details .icons:hover {
  background: #000f34;
}

body.dark-mode .contact-details i {
  color: #ebebeb;
}

body.dark-mode #skills {
  color: #ebebeb;
}

body.dark-mode #education {
  color: #ebebeb;
}

body.dark-mode .education-entry {
  background-color: #313131;
}

body.dark-mode #projects {
  color: #ebebeb;
}

body.dark-mode .card {
  background-color: #313131;
  border: 1px solid #212121;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
}

body.dark-mode .card-link {
  background-color: #767676;
}

body.dark-mode .card-link:hover {
  background-color: #626262;
}

@media (max-width: 768px) {
  .education-entry {
    flex-direction: column; /* Stack content vertically on small screens */
    text-align: center; /* Center-align text content */
  }

  .education-entry img {
    max-width: 100px; /* Ensure the image is still appropriately sized */
    margin: 0 auto 20px; /* Center the image and add space below */
  }

  .education-entry .text-content {
    text-align: center; /* Center-align the text content */
  }

  .card {
    width: 90%;
    max-width: 350px; /* Adjust the width on smaller screens */
    margin: 0 auto; /* Center the cards on the page */
  }
}